html,
body {
	height: 100%;
	background-color: #111;
}
body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.v-padding {
	padding-top: 20px;
	padding-bottom: 20px;
}
